<ion-view view-title="">
    <ion-content>
        <form name="profileform" novalidate class="css-form" ng-model="profileDetails" ng-submit="Acceptance()">
            <h3 class="padding">
                The calculator is to be used for guidance purposes only and final decision on treatment is to be taken by the concerned doctor.<br><br> Developers of the app are not liable or responsible for treatment suggested in the app.

                <br><br>  Please accept to proceed.
            </h3>
            <div class="item-input-inset">
                <input class="item-input-wrapper button button-positive" value="I Accept" type="submit">
            </div>
        </form>
    </ion-content>
</ion-view>
