<ion-view view-title="Approach">
  <ion-content>
      <h3 class="title item item-text-wrap">Approach to the aetiology of non- physiologic hyperbilirubinemia</h3>
      <!--<ion-scroll zooming="true" style="width: 350px; height: 500px">-->
          <!--<div style="background: url('./img/final.png')"></div>-->
      <!--</ion-scroll>-->
      <ion-scroll direction="xy"  style="width: auto; height: 500px">
          <img style="width:509px;height:820px" ng-src="./img/final.png" class="fullscreen-image" />
      </ion-scroll>
  </ion-content>
</ion-view>

