<ion-view view-title="Help">
  <ion-content>
      <div class="padding">
          <ul>
              <li><strong>Infant age:<br /> </strong>Time since birth at which serum bilirubin levels were sent</li>
          </ul>
          <p>&nbsp;</p>
          <ul>
              <li><strong>Total bilirubin levels:<br /> </strong>Bilirubin levels refer to total bilirubin. Direct bilirubin is not subtracted from the total unless it is >50% of the total bilirubin.</li>
          </ul>
          <p>&nbsp;</p>
          <ul>
              <li><strong>Gestation age:<br /> </strong>It's is calculated as the age in weeks at the date of birth since the first day of LMP (last menstrual period)<br /> <br /> Also it can be calculated from EDD (expected delivery date) as it is 40 weeks<br /><br /> Eg:- If EDD is <span data-term="goog_2887271">28th August</span> <br /> And <br /> Date of birth is <span data-term="goog_2887272">7th August</span> then the gestation age is 37 weeks&nbsp;</li>
          </ul>
          <p>If the date of birth is 9th August then the gestation age is 37 2/7, for calculating it is taken as 37 weeks as 37 weeks are complete and 38th is ongoing and not complete</p>
          <p>&nbsp;</p>
          <ul>
              <li><strong>Phototherapy:<br /> </strong>Phototherapy preferable with blue light lamps/bulbs (425-475nm wavelength)<br /> Or with fibreoptic source<br /> <br /> Measure irradiance regularly at the skin by radiometer<br /> Minimum 5microW per square centimeter<br /> Max 9 microWPer square cm<br /> <br /> If using blue lamp standard distance between lamp and the baby should be 45 cm<br /> <br /> Follow the local clinical practise guidelines for baby care when under phototherapy<br /> <br /> Change phototherapy bulbs as per manufacture recommendation or when irradiance is below minimum<strong>&nbsp;</strong></li>
          </ul>
          <p>&nbsp;</p>
          <ul>
              <li><strong>Continuous multiple phototherapy: <br /> </strong>Initiate continuous multiple phototherapy if&nbsp;</li>
          </ul>
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -serum bilirubin levels are rising rapidly >0.5mg/dl per hour(8.5 micromol/dl per hour)&nbsp;</p>
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -serum bilirubin levels are within 3mg/dl ( 50 micromol/dl) below the threshold for which exchange transfusion is indicated at 72 hours&nbsp;</p>
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -serum bilirubin levels continues to rise or does not fall within 6hours of starting single phototherapy&nbsp;</p>
          <p>&nbsp;</p>
          <ul>
              <li><strong>Exchange transfusion: <br /> </strong>While preparing for exchange transfusion when bilirubin levels are above threshold or in the multiple phototherapy range consider IVIG (500mg/kg over 4 hours)for ABO Rh incompatibility with coombs positivity and rise of bilirubin more than 0.5mg/dl per hour (8.5micromol/l per hour)&nbsp;</li>
          </ul>
          <p>Note: Follow the local clinical practice guidelines for newborn care during exchange transfusion</p>
          <p>&nbsp;</p>
          <ul>
              <li><strong>Non physiologic hyperbilirubinemia:<br /> </strong></li>
          </ul>
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -Onset of jaundice before 24 hours of age&nbsp;</p>
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -Any elevation of serum bilirubin that requires phototherapy<br /> 
		  <br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -A rise in serum bilirubin levels over (0.5 mg/dl (8.5 micromol/l) per hour)<br />
		  <br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-Signs of underlying illness in any newborn
		  <br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Vomiting, lethargy ,temperature instability, apnea ,tachypnea , poor feeding and excessive weight loss.<br />
		  <br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-Jaundice persisting after 8 days in a term newborn and 14 days in a preterm newborn</p>
          <p><br />The above mentioned conditions imply non physiologic hyperbilirubinemia and warrant investigation</p>
          <p>To find the cause of non physiologic hyperbilirubinemia&nbsp;</p>
          <p>Go to the algorithm for Approach to Non physiologic hyperbilirubinemia</p>
      </div>
  </ion-content>
</ion-view>
