<ion-view view-title="">
    <!--<div ng-controller="StartPageCtrl">-->
    <ion-nav-title>
        <!-- <img class="title-image" src="img/logo.png">-->
        <h1 class="title" style="right:50px;color:dodgerblue;font-weight:bold;font-size:xx-large;">Biliguru</h1>
    </ion-nav-title>
        <ion-content>
            <h3 class="title item">Newborn Hyperbilirubinemia Assessment</h3>
            <form name="submitform" novalidate class="css-form" ng-model="infantDetails" ng-submit="GetResult(infantDetails)">

                <div class="item item-input-inset">
                    <label class="col-1 item-input-wrapper">
                        <span class="input-label positive">Infant Age:</span>
                        <input type="number" name="name" ng-model="infantDetails.Age" required>
            
                    </label>
                    <span>&nbsp;</span>
                    <span class="col-2">Hours</span>
                </div>
                <code class="assertive padding" ng-if="submitform.name.$touched&&submitform.name.$error.required">Infant Age is required</code>

<!-- 				<div class="row responsive-md">
  <div class="col col-75">
   <label class="item-input-wrapper">
                        <span class="input-label positive">Total Bilirubin:</span>
                        <input type="number" name="Bilirubin" ng-model="infantDetails.Bilirubin" required>
                    </label>
  </div>
  <div class="col">
    <select id="units" class="small" name='Bilirubinoptions' ng-model="infantDetails.BilirubinUnits" required>
                        <option selected>mg/dl</option>
                        <option>micromol/litre</option>
                    </select>
  </div>
  </div> -->
                <div class="item item-input-inset">
                    <label class="col-1 item-input-wrapper">
                        <span class="input-label positive">Total Bilirubin:</span>
                        <input type="number" name="Bilirubin" ng-model="infantDetails.Bilirubin" required>
                    </label>
                    <span>&nbsp;</span>
                    <select id="units" class=" col-2 small" name='Bilirubinoptions' ng-model="infantDetails.BilirubinUnits" required>
                        <option selected>mg/dl</option>
                        <option>micromol/litre</option>
                    </select>
                </div> 
                <code class="assertive padding" ng-if="submitform.Bilirubin.$touched&&submitform.Bilirubin.$error.required">Total Bilirubin is required</code>
                <code class="assertive padding" ng-if="submitform.Bilirubinoptions.$touched&&submitform.Bilirubinoptions.$error.required">Total Bilirubin units must be selected</code>

                <label class="item item-input item-select">
                    <div class="input-label positive">
                        Gestation Age:
                    </div>
                    <select id="Gestation " name='options' ng-model="infantDetails.Gestation" required>
                        <option>23 Weeks</option>
                        <option>24 Weeks</option>
                        <option>25 Weeks</option>
                        <option>26 Weeks</option>
                        <option>27 Weeks</option>
                        <option>28 Weeks</option>
                        <option>29 Weeks</option>
                        <option>30 Weeks</option>
                        <option>31 Weeks</option>
                        <option>32 Weeks</option>
                        <option>33 Weeks</option>
                        <option>34 Weeks</option>
                        <option>35 Weeks</option>
                        <option>36 Weeks</option>
                        <option>37 Weeks</option>
                        <option>>=38 Weeks</option>
                    </select>
                </label>
                <div class="item item-input-inset">
                    <input class="item-input-wrapper button button-positive" ng-disabled="!submitform.$valid" value="Recommended Treatment" type="submit">
                </div>
                <code class="assertive item item-text-wrap" ng-show="!submitform.$valid">Enter all details to enable Recommended Treatment!</code>
            </form>
      
            <div class="card" ng-show="data.result!=''">
                <div class="item item-text-wrap">
                    {{data.result}}
                </div>
                <div class="item item-text-wrap">
                    Phototherapy Threshold - {{data.ptt}}<span class="positive">*</span>
                </div>

                <div class="item item-text-wrap">
                    Exchange Transfusion Threshold - {{data.eTT}}<span class="positive">*</span>
                </div>
                <div class="item item-text-wrap">
                    <span class="positive">*(Reference - NICE guidelines 2010)</span>
                </div>
            </div>
            <!--<div class="card" ng-show="data.phototherapyThresold!=''">

            </div>-->
        </ion-content>
</ion-view>
<style>
@media only screen and (max-width: 414px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 80%;
    }
}
</style>
